# base
wheel
ipython
pipdeptree
# util
glob2
path.py
pathlib2
pycodestyle
pydocstyle
pylint
pycrypto
colorama
cytoolz
nose
# file format
csvkit
beautifulsoup4
lxml
XlsxWriter
h5py
# ansible
ansible
testinfra
pyOpenSSL
pytest-xdist
# sphinx
Sphinx
recommonmark
sphinxcontrib-blockdiag
sphinxcontrib-seqdiag
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinx-rtd-theme
Flask-Sphinx-Themes
sphinxjp.themes.bizstyle
# other
cx_Oracle
jupyter
pandas
odo
dask
matplotlib
imageio
bokeh
bkcharts
# vim: set ft=sh:
